* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(45deg, #dbf4ff, #73a2d8 );
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container * {
    margin: 3px;
    color: #ffffff;
}

.container h1 {
    font-size: 2em;
}
.weatherInfo {
    font-size: 1em;
}